$background: #fff;
$accent1: #762CF8;
$accent1Dark: #6826DB;
$accent2: #F78764;

$gradient: linear-gradient(270deg, #813ff5, #f49071);

$titleText: #2D1F48;
$bodyText: #575360;

$titleLight: #fff;
$bodyLight: rgb(238, 238, 238);

$maxWidth: 150rem;
$padding: 2rem;
$shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.05);
$animationSpeed: 0.1s;

$sectionSpacing: 15rem;
$mobTabSpacing: 10rem;
// Media Queries
$media-queries: (
    "mobile": "only screen and (max-width: 667px)",
    "tablet": "only screen and (min-width: 668px) and (max-width: 1023.9px)",
    "largeTablet": "only screen and (max-width: 1300px)",
    "desktop": "only screen and (min-width: 1024px)",
);


/* Media Queries */ 
@mixin forBreakpoint($breakpoints) {
    $conditions : ();
    @each $breakpoint in $breakpoints {
        // If the key exists in the map
        $conditions: append(
            $conditions,
            #{inspect(map-get($media-queries, $breakpoint))},
            comma
        );
    }

    @media #{$conditions} {
        @content;
    }
}

@mixin wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: $maxWidth;
    padding: 0 $padding;
}

@mixin gradientAnimation {
    background: $gradient;
    background-size: 400% 400%;
    animation: GradientAnimation 30s ease infinite;

    @keyframes GradientAnimation {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
}

@mixin title {
    color: $titleText;
    font-size: 1.6rem;
    font-weight: bold;
}
@mixin body {
    color: $bodyText;
    font-size: 1.6rem;
}
@mixin h2 {
    color: $titleText;
    font-size: 4rem;
}
@mixin h3 {
    color: $titleText;
    font-size: 2rem;
}
@mixin h4 {
    
}

@mixin inpStyle {
    background-color: #fff;
    border: 0.1rem solid #EAEAEA;
    height: 4rem;
    border-radius: 2rem;
    padding: 0 2rem;
    font-size: 1.6rem;
    width: 100%;
    color: $bodyText;
    &:focus {
        border: 0.1rem solid $accent1;
    }
}
// buttons
@mixin defaultBtnStyle {
    cursor: pointer;
    padding: 1rem 4rem;
    border-radius: 4rem;
    border: none;
    transition: $animationSpeed;
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}