@import '_settings';

html {
    font-size: 62.5%;
}
body {
    background-color: $background;
    position: relative;
    font-family: 'Lato', sans-serif;
    min-height: 100%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
}
ul, menu, ol {
    list-style-type: none;
}

.mainLayout {
    
    // section default styling
    .sectionCon {
        @include wrapper;
        padding-top: $sectionSpacing;
        @include forBreakpoint(mobile tablet){
            padding-top: $mobTabSpacing;
        }
        .sectionHeader {
            width: 100%;
            margin: 0 auto 7.5rem;
            text-align: center;
            @include forBreakpoint(mobile tablet){
                margin-bottom: 4rem
            }
            h2 {
                @include h2;
                font-size : clamp(3rem, 3vw, 4rem);
                max-width: 60rem;
                margin: 0 auto 1rem;
            }
            p {
                @include body;
                font-size: 1.8rem;
                max-width: 60rem;
                margin: 0 auto;
            }
        }
    }
}