@import '_settings';

html {
    font-size: 62.5%;
}
body {
    background-color: $background;
    position: relative;
    font-family: 'Lato', sans-serif;
    min-height: 100%;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
}
ul, menu, ol {
    list-style-type: none;
}